<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406780900894-7d58bqmag51kpd71a4ma3kk8md92g9q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406780900894-7d58bqmag51kpd71a4ma3kk8md92g9q8</string>
	<key>API_KEY</key>
	<string>AIzaSyARbQFjUnups3mKAlKvN6XyFaKqwPzQaPI</string>
	<key>GCM_SENDER_ID</key>
	<string>406780900894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>baegteun.GCMS</string>
	<key>PROJECT_ID</key>
	<string>msg-gcms</string>
	<key>STORAGE_BUCKET</key>
	<string>msg-gcms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:406780900894:ios:8f568808da53781acfe00f</string>
</dict>
</plist>