<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>406780900894-mp76r4ssbe8kh3qvhk1o1rd6gtijvdon.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.406780900894-mp76r4ssbe8kh3qvhk1o1rd6gtijvdon</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>406780900894-jcch2pqu5iuphdu4i1tri7gsn7lcg4h6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARbQFjUnups3mKAlKvN6XyFaKqwPzQaPI</string>
	<key>GCM_SENDER_ID</key>
	<string>406780900894</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.msg.gcms</string>
	<key>PROJECT_ID</key>
	<string>msg-gcms</string>
	<key>STORAGE_BUCKET</key>
	<string>msg-gcms.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:406780900894:ios:177175d3468674accfe00f</string>
</dict>
</plist>
